<carousel>
    <slide>
        <img src="assets/images/first.jpg" alt="First" style="display: block; width:100%; max-height: 500px">
    </slide>
    <slide>
        <img src="assets/images/second.jpg" alt="First" style="display: block; width:100%; max-height: 500px">
    </slide>
    <slide>
        <img src="assets/images/third.jpg" alt="First" style="display: block; width:100%; max-height: 500px">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the Sports Shop!</h1>
    </div>
    <div class="mt-2" style="width: auto; margin-left:15%;margin-right:15%;">
        <p>You Can buy anything you want! Boots, hats,jackets and etc... This is a demo version of magazine, so down is lorem ipsum text!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ullam nesciunt, suscipit accusamus numquam quis cupiditate exercitationem velit sapiente modi, itaque ratione quia quae dolorum deleniti eos asperiores amet possimus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ullam nesciunt, suscipit accusamus numquam quis cupiditate exercitationem velit sapiente modi, itaque ratione quia quae dolorum deleniti eos asperiores amet possimus.</p>
    </div>
</section>