<div class="mt-4" [formGroup]="checkoutForm">
    <h4 class="mb-2">Choose Delivery Method</h4>
    <div class="row ml-5" formGroupName="deliveryForm">
        <div class="col-6 mb-3" *ngFor="let item of deliveryMethods">
            <input type="radio"
            (click)="setShippingPrice(item)"
            id="{{item.id}}"
            value="{{item.id}}"
            formControlName ='deliveryMethod'
            class="form-check-input"
            >
            <label for="{{item.id}}" class="form-check-label ms-2">
                <strog>{{item.shortName}} - {{item.price | currency}}</strog>
            </label>
            <span class="label-description" style="margin-left: 5px">  {{item.description}}</span>
        </div>
    </div>
</div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Back to Address
    </button>
    <button [disabled]="checkoutForm.get('deliveryForm').invalid" class="btn btn-primary" cdkStepperNext>
        Go to Review <i class="fa fa-angle-right"></i>
    </button>
</div>