<ng-container class="sizable " *ngIf="(breadcrumb$ | async ) as breadcrumbs">
    <section  *ngIf="breadcrumbs.length > 0 && breadcrumbs[breadcrumbs.length - 1].label !== 'Home' " class="py-4" style="margin-top: 80px; background-color: #90e0ef;">
        <div class="container " style="max-height: 50px;">
            <div class="row d-flex align-items-center" style="margin-top:-25px;">
                <div class="col-9"> 
                    <h2 style="color: white;">{{breadcrumbs.length > 0 && breadcrumbs[breadcrumbs.length - 1].label | titlecase}}</h2>
                </div>
                <div class="col-3">
                   <xng-breadcrumb class="text-light" ></xng-breadcrumb>
                </div>
            </div>
        </div>
        </section>
</ng-container>

