.cart-no{
    position: absolute;
    min-height: 15px;
    min-width: 20px;
    border-radius: 50%;
    font-size: 0.9em;
    background-color: #DF7F20;
    color: white;
    text-align: center;
    top: -10px;
    right: 35px;
}
a{
    text-decoration: none;
    color: #343a40;
    &.active{
        color: #1d3557;
    }
}

.logo{
    cursor: pointer;
}