.cart-no{
    position: absolute;
    min-height: 15px;
    min-width: 20px;
    border-radius: 50%;
    font-size: 0.9em;
    background-color: blueviolet;
    color: white;
    text-align: center;
    top: -10px;
    right: 35px;
}